
body {
    background-color:#997233;
}

h2{
    font-size: 2em;
    text-align: left;
    font-style:oblique;
    color:#5CA4E6;
    
}

#intro{
    color:#80C1FF;
    text-align: left;
    border-style:solid;
}

#angkor{
    position: relative;
    left:700px;
    
}

/* body * {
    border:1px solid black; */
/* } */

h1 {
    position: fixed;
    left: 1049px;
    font-size: 4em;
    text-align: right;
    font-style:oblique;
    color:#2E6699;
    height: 1490px;
    width: 300px;
    background-color:#E6B15C;
}